# Exploring Alpha Vantage API

### Imports- **Run First**

In [1]:
#open file with your API key
with open('Alpha_Vantage_API_key.txt') as file:
    API_key = file.read()
API_key = API_key.strip()

In [2]:
#import libraries
from alpha_vantage.timeseries import TimeSeries

import requests
from bs4 import BeautifulSoup

import pandas as pd
import io

In [3]:
#build TimeSeries variable from Alpha Vantage API
ts1 = TimeSeries(key = API_key)

### How to put stock data into a DataFrame

#### Requests Method

In [15]:
#get weekly stock data of Apple in DataFrame format
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=AAPL&apikey=' + str(API_key) + '&datatype=csv'
r = requests.get(url).content
data = pd.read_csv(io.StringIO(r.decode('utf-8')))
print(data)

       timestamp     open    high       low   close     volume
0     2025-04-08  177.200  194.15  169.2101  172.42  280248010
1     2025-04-04  217.005  225.62  187.3400  188.38  366947884
2     2025-03-28  221.000  225.02  217.6800  217.90  190239113
3     2025-03-21  213.310  218.84  209.9700  218.27  287881958
4     2025-03-14  235.540  236.16  208.4200  213.49  331612070
...          ...      ...     ...       ...     ...        ...
1322  1999-12-10  114.560  118.00   99.0000  103.00   25152800
1323  1999-12-03   94.250  115.56   93.2500  115.00   28046300
1324  1999-11-26   91.750   95.50   88.5000   95.06    9757600
1325  1999-11-19   89.620   94.75   88.0600   92.44   13711000
1326  1999-11-12   87.750   97.73   86.7500   90.62   25776200

[1327 rows x 6 columns]

In [16]:
#get head of data
data.head(10)

    timestamp     open      high       low   close     volume
0  2025-04-08  177.200  194.1500  169.2101  172.42  280248010
1  2025-04-04  217.005  225.6200  187.3400  188.38  366947884
2  2025-03-28  221.000  225.0200  217.6800  217.90  190239113
3  2025-03-21  213.310  218.8400  209.9700  218.27  287881958
4  2025-03-14  235.540  236.1600  208.4200  213.49  331612070
5  2025-03-07  241.790  244.0272  229.2300  239.07  239653674
6  2025-02-28  244.925  250.0000  230.2000  241.84  241760231
7  2025-02-21  244.150  248.6900  241.8400  245.55  166541044
8  2025-02-14  229.570  245.5500  227.2000  244.60  226587580
9  2025-02-07  229.990  234.0000  225.7000  227.63  227428164

#### Python Package Method

In [17]:
#store Apple stock intraday data in data and meta_data variables
apple1, meta_data = ts1.get_intraday("AAPL")

In [18]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2025-04-07 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}

In [20]:
#print data
apple1

{'2025-04-07 19:45:00': {'1. open': '182.3000',
  '2. high': '182.7200',
  '3. low': '181.8500',
  '4. close': '182.6100',
  '5. volume': '35235'},
 '2025-04-07 19:30:00': {'1. open': '183.4300',
  '2. high': '183.5000',
  '3. low': '181.4600',
  '4. close': '182.3000',
  '5. volume': '41049'},
 '2025-04-07 19:15:00': {'1. open': '183.5100',
  '2. high': '183.7700',
  '3. low': '183.2000',
  '4. close': '183.5000',
  '5. volume': '28148'},
 '2025-04-07 19:00:00': {'1. open': '183.4400',
  '2. high': '183.5100',
  '3. low': '183.1600',
  '4. close': '183.4800',
  '5. volume': '26246'},
 '2025-04-07 18:45:00': {'1. open': '183.3400',
  '2. high': '183.6500',
  '3. low': '182.5900',
  '4. close': '183.4432',
  '5. volume': '38204'},
 '2025-04-07 18:30:00': {'1. open': '182.5200',
  '2. high': '183.4500',
  '3. low': '182.5000',
  '4. close': '183.3500',
  '5. volume': '54237'},
 '2025-04-07 18:15:00': {'1. open': '182.4900',
  '2. high': '217.9000',
  '3. low': '182.2700',
  '4. close': '182.5200',
  '5. volume': '21497'},
 '2025-04-07 18:00:00': {'1. open': '182.3000',
  '2. high': '182.8000',
  '3. low': '182.0000',
  '4. close': '182.4900',
  '5. volume': '21435'},
 '2025-04-07 17:45:00': {'1. open': '181.9996',
  '2. high': '182.3900',
  '3. low': '181.4600',
  '4. close': '182.2400',
  '5. volume': '39417'},
 '2025-04-07 17:30:00': {'1. open': '182.0000',
  '2. high': '182.0000',
  '3. low': '181.7900',
  '4. close': '182.0000',
  '5. volume': '18322'},
 '2025-04-07 17:15:00': {'1. open': '181.8500',
  '2. high': '222.7750',
  '3. low': '181.6200',
  '4. close': '182.0000',
  '5. volume': '15026'},
 '2025-04-07 17:00:00': {'1. open': '181.4700',
  '2. high': '229.2480',
  '3. low': '181.2100',
  '4. close': '181.8300',
  '5. volume': '1814486'},
 '2025-04-07 16:45:00': {'1. open': '182.0600',
  '2. high': '229.2480',
  '3. low': '180.8249',
  '4. close': '181.3900',
  '5. volume': '795275'},
 '2025-04-07 16:30:00': {'1. open': '181.8000',
  '2. high': '182.8000',
  '3. low': '181.5100',
  '4. close': '182.0000',
  '5. volume': '45942'},
 '2025-04-07 16:15:00': {'1. open': '182.5000',
  '2. high': '183.0000',
  '3. low': '181.4600',
  '4. close': '181.8500',
  '5. volume': '121357'},
 '2025-04-07 16:00:00': {'1. open': '181.5200',
  '2. high': '195.8100',
  '3. low': '180.3051',
  '4. close': '182.4985',
  '5. volume': '27749576'},
 '2025-04-07 15:45:00': {'1. open': '179.1500',
  '2. high': '182.0000',
  '3. low': '178.6300',
  '4. close': '181.5900',
  '5. volume': '7837108'},
 '2025-04-07 15:30:00': {'1. open': '178.4400',
  '2. high': '181.1600',
  '3. low': '178.4300',
  '4. close': '179.1500',
  '5. volume': '3952647'},
 '2025-04-07 15:15:00': {'1. open': '178.9400',
  '2. high': '180.2100',
  '3. low': '178.2801',
  '4. close': '178.4213',
  '5. volume': '3354373'},
 '2025-04-07 15:00:00': {'1. open': '179.9650',
  '2. high': '181.1150',
  '3. low': '178.8360',
  '4. close': '178.9450',
  '5. volume': '3272093'},
 '2025-04-07 14:45:00': {'1. open': '181.4100',
  '2. high': '181.7400',
  '3. low': '179.4500',
  '4. close': '179.9700',
  '5. volume': '2814966'},
 '2025-04-07 14:30:00': {'1. open': '180.3400',
  '2. high': '182.3000',
  '3. low': '179.7000',
  '4. close': '181.3900',
  '5. volume': '2612530'},
 '2025-04-07 14:15:00': {'1. open': '180.0800',
  '2. high': '183.9000',
  '3. low': '180.0100',
  '4. close': '180.3350',
  '5. volume': '4810945'},
 '2025-04-07 14:00:00': {'1. open': '182.6050',
  '2. high': '182.7698',
  '3. low': '176.1900',
  '4. close': '180.1150',
  '5. volume': '2656885'},
 '2025-04-07 13:45:00': {'1. open': '181.7625',
  '2. high': '182.9500',
  '3. low': '180.9100',
  '4. close': '182.6050',
  '5. volume': '2786171'},
 '2025-04-07 13:30:00': {'1. open': '181.5550',
  '2. high': '181.9099',
  '3. low': '179.9600',
  '4. close': '181.7750',
  '5. volume': '2106421'},
 '2025-04-07 13:15:00': {'1. open': '179.3700',
  '2. high': '181.7200',
  '3. low': '178.9600',
  '4. close': '181.5400',
  '5. volume': '2895795'},
 '2025-04-07 13:00:00': {'1. open': '177.6125',
  '2. high': '180.3600',
  '3. low': '177.1000',
  '4. close': '179.4612',
  '5. volume': '3323695'},
 '2025-04-07 12:45:00': {'1. open': '178.9800',
  '2. high': '179.0700',
  '3. low': '177.2300',
  '4. close': '177.6000',
  '5. volume': '2297772'},
 '2025-04-07 12:30:00': {'1. open': '178.1000',
  '2. high': '179.8000',
  '3. low': '176.9600',
  '4. close': '179.0000',
  '5. volume': '2303399'},
 '2025-04-07 12:15:00': {'1. open': '177.1600',
  '2. high': '178.2450',
  '3. low': '175.7500',
  '4. close': '178.1400',
  '5. volume': '3033021'},
 '2025-04-07 12:00:00': {'1. open': '178.7800',
  '2. high': '178.8413',
  '3. low': '176.3950',
  '4. close': '177.1900',
  '5. volume': '2866693'},
 '2025-04-07 11:45:00': {'1. open': '179.5200',
  '2. high': '180.3800',
  '3. low': '178.3300',
  '4. close': '178.7800',
  '5. volume': '2615640'},
 '2025-04-07 11:30:00': {'1. open': '176.4000',
  '2. high': '179.7500',
  '3. low': '176.3800',
  '4. close': '179.5299',
  '5. volume': '4407748'},
 '2025-04-07 11:15:00': {'1. open': '177.9350',
  '2. high': '180.8400',
  '3. low': '175.7000',
  '4. close': '176.3600',
  '5. volume': '6919548'},
 '2025-04-07 11:00:00': {'1. open': '183.8800',
  '2. high': '185.1800',
  '3. low': '176.0800',
  '4. close': '177.9400',
  '5. volume': '4521256'},
 '2025-04-07 10:45:00': {'1. open': '182.5500',
  '2. high': '184.6799',
  '3. low': '180.0800',
  '4. close': '183.8700',
  '5. volume': '3928074'},
 '2025-04-07 10:30:00': {'1. open': '181.6800',
  '2. high': '185.9398',
  '3. low': '179.6300',
  '4. close': '182.5300',
  '5. volume': '6295916'},
 '2025-04-07 10:15:00': {'1. open': '188.7832',
  '2. high': '194.1500',
  '3. low': '181.4500',
  '4. close': '181.7700',
  '5. volume': '11456838'},
 '2025-04-07 10:00:00': {'1. open': '180.4900',
  '2. high': '189.5250',
  '3. low': '179.0000',
  '4. close': '188.8100',
  '5. volume': '10841377'},
 '2025-04-07 09:45:00': {'1. open': '176.5350',
  '2. high': '181.1400',
  '3. low': '175.9300',
  '4. close': '180.4900',
  '5. volume': '10063321'},
 '2025-04-07 09:30:00': {'1. open': '177.2000',
  '2. high': '178.8800',
  '3. low': '174.6200',
  '4. close': '176.4800',
  '5. volume': '22403277'},
 '2025-04-07 09:15:00': {'1. open': '182.8600',
  '2. high': '183.4000',
  '3. low': '175.6800',
  '4. close': '177.2500',
  '5. volume': '1425997'},
 '2025-04-07 09:00:00': {'1. open': '182.7500',
  '2. high': '183.6900',
  '3. low': '182.1900',
  '4. close': '182.8600',
  '5. volume': '186896'},
 '2025-04-07 08:45:00': {'1. open': '183.0000',
  '2. high': '183.5000',
  '3. low': '181.5200',
  '4. close': '182.9700',
  '5. volume': '318122'},
 '2025-04-07 08:30:00': {'1. open': '182.9800',
  '2. high': '184.0300',
  '3. low': '182.9700',
  '4. close': '183.0000',
  '5. volume': '301154'},
 '2025-04-07 08:15:00': {'1. open': '180.9700',
  '2. high': '183.9500',
  '3. low': '180.1300',
  '4. close': '183.1100',
  '5. volume': '376226'},
 '2025-04-07 08:00:00': {'1. open': '182.1100',
  '2. high': '188.3800',
  '3. low': '174.4000',
  '4. close': '180.9300',
  '5. volume': '1188500'},
 '2025-04-07 07:45:00': {'1. open': '181.6900',
  '2. high': '183.0000',
  '3. low': '181.0000',
  '4. close': '182.1700',
  '5. volume': '118353'},
 '2025-04-07 07:30:00': {'1. open': '182.4300',
  '2. high': '182.5200',
  '3. low': '180.5800',
  '4. close': '181.7000',
  '5. volume': '195939'},
 '2025-04-07 07:15:00': {'1. open': '183.0000',
  '2. high': '183.0200',
  '3. low': '181.1200',
  '4. close': '182.3800',
  '5. volume': '178073'},
 '2025-04-07 07:00:00': {'1. open': '184.7300',
  '2. high': '184.9100',
  '3. low': '182.5600',
  '4. close': '183.0000',
  '5. volume': '296961'},
 '2025-04-07 06:45:00': {'1. open': '185.9400',
  '2. high': '185.9400',
  '3. low': '183.9100',
  '4. close': '184.6000',
  '5. volume': '118868'},
 '2025-04-07 06:30:00': {'1. open': '183.7100',
  '2. high': '186.4400',
  '3. low': '183.1100',
  '4. close': '185.9100',
  '5. volume': '138099'},
 '2025-04-07 06:15:00': {'1. open': '183.7700',
  '2. high': '185.4900',
  '3. low': '183.0000',
  '4. close': '183.7100',
  '5. volume': '132642'},
 '2025-04-07 06:00:00': {'1. open': '181.1700',
  '2. high': '184.3700',
  '3. low': '180.6800',
  '4. close': '183.7600',
  '5. volume': '116254'},
 '2025-04-07 05:45:00': {'1. open': '181.4100',
  '2. high': '182.0000',
  '3. low': '181.0000',
  '4. close': '181.1700',
  '5. volume': '60363'},
 '2025-04-07 05:30:00': {'1. open': '180.5400',
  '2. high': '181.8900',
  '3. low': '180.3000',
  '4. close': '181.4600',
  '5. volume': '65854'},
 '2025-04-07 05:15:00': {'1. open': '180.3600',
  '2. high': '180.6700',
  '3. low': '179.5000',
  '4. close': '180.5700',
  '5. volume': '71579'},
 '2025-04-07 05:00:00': {'1. open': '180.5700',
  '2. high': '180.9700',
  '3. low': '179.8900',
  '4. close': '180.3200',
  '5. volume': '55776'},
 '2025-04-07 04:45:00': {'1. open': '181.3800',
  '2. high': '181.6400',
  '3. low': '180.5000',
  '4. close': '180.5100',
  '5. volume': '60458'},
 '2025-04-07 04:30:00': {'1. open': '181.2700',
  '2. high': '181.9000',
  '3. low': '180.4900',
  '4. close': '181.3800',
  '5. volume': '91020'},
 '2025-04-07 04:15:00': {'1. open': '180.2100',
  '2. high': '181.9800',
  '3. low': '180.0300',
  '4. close': '181.2900',
  '5. volume': '147609'},
 '2025-04-07 04:00:00': {'1. open': '177.8700',
  '2. high': '181.4000',
  '3. low': '177.0000',
  '4. close': '180.2100',
  '5. volume': '279843'},
 '2025-04-04 19:45:00': {'1. open': '186.7300',
  '2. high': '186.7400',
  '3. low': '186.4400',
  '4. close': '186.5999',
  '5. volume': '63387'},
 '2025-04-04 19:30:00': {'1. open': '187.0800',
  '2. high': '188.3800',
  '3. low': '186.6400',
  '4. close': '186.6734',
  '5. volume': '144380'},
 '2025-04-04 19:15:00': {'1. open': '187.1800',
  '2. high': '187.2400',
  '3. low': '187.0200',
  '4. close': '187.0800',
  '5. volume': '38686'},
 '2025-04-04 19:00:00': {'1. open': '187.3381',
  '2. high': '187.4500',
  '3. low': '187.1400',
  '4. close': '187.1600',
  '5. volume': '24846'},
 '2025-04-04 18:45:00': {'1. open': '187.5400',
  '2. high': '187.5400',
  '3. low': '187.2501',
  '4. close': '187.3400',
  '5. volume': '25625'},
 '2025-04-04 18:30:00': {'1. open': '187.6400',
  '2. high': '187.7000',
  '3. low': '187.5000',
  '4. close': '187.5300',
  '5. volume': '19398'},
 '2025-04-04 18:15:00': {'1. open': '187.6100',
  '2. high': '187.8000',
  '3. low': '187.6000',
  '4. close': '187.6400',
  '5. volume': '21522'},
 '2025-04-04 18:00:00': {'1. open': '187.8000',
  '2. high': '187.9900',
  '3. low': '187.6000',
  '4. close': '187.7000',
  '5. volume': '30041'},
 '2025-04-04 17:45:00': {'1. open': '188.1430',
  '2. high': '188.1500',
  '3. low': '187.7500',
  '4. close': '187.7996',
  '5. volume': '14774'},
 '2025-04-04 17:30:00': {'1. open': '187.7200',
  '2. high': '188.1900',
  '3. low': '187.5900',
  '4. close': '188.1200',
  '5. volume': '24552'},
 '2025-04-04 17:15:00': {'1. open': '188.0600',
  '2. high': '250.0154',
  '3. low': '186.2630',
  '4. close': '187.7200',
  '5. volume': '31185'},
 '2025-04-04 17:00:00': {'1. open': '187.9600',
  '2. high': '266.1547',
  '3. low': '187.5000',
  '4. close': '188.0783',
  '5. volume': '47399'},
 '2025-04-04 16:45:00': {'1. open': '187.6400',
  '2. high': '251.2043',
  '3. low': '187.4000',
  '4. close': '187.9000',
  '5. volume': '235867'},
 '2025-04-04 16:30:00': {'1. open': '187.3882',
  '2. high': '218.5800',
  '3. low': '187.2400',
  '4. close': '187.5900',
  '5. volume': '127404'},
 '2025-04-04 16:15:00': {'1. open': '188.2982',
  '2. high': '189.2300',
  '3. low': '187.2503',
  '4. close': '187.3300',
  '5. volume': '204790'},
 '2025-04-04 16:00:00': {'1. open': '188.3800',
  '2. high': '189.6500',
  '3. low': '187.6800',
  '4. close': '188.2300',
  '5. volume': '28153953'},
 '2025-04-04 15:45:00': {'1. open': '190.5900',
  '2. high': '191.1600',
  '3. low': '188.0600',
  '4. close': '188.3800',
  '5. volume': '9408926'},
 '2025-04-04 15:30:00': {'1. open': '190.2100',
  '2. high': '191.7300',
  '3. low': '189.6701',
  '4. close': '190.6000',
  '5. volume': '4905692'},
 '2025-04-04 15:15:00': {'1. open': '189.9800',
  '2. high': '190.8688',
  '3. low': '189.2400',
  '4. close': '190.2200',
  '5. volume': '4450561'},
 '2025-04-04 15:00:00': {'1. open': '188.8700',
  '2. high': '190.4200',
  '3. low': '188.0140',
  '4. close': '190.0200',
  '5. volume': '3444920'},
 '2025-04-04 14:45:00': {'1. open': '187.7000',
  '2. high': '189.7300',
  '3. low': '187.5900',
  '4. close': '188.8800',
  '5. volume': '2634442'},
 '2025-04-04 14:30:00': {'1. open': '188.9000',
  '2. high': '189.1500',
  '3. low': '187.3400',
  '4. close': '187.7227',
  '5. volume': '3238293'},
 '2025-04-04 14:15:00': {'1. open': '190.5000',
  '2. high': '190.5500',
  '3. low': '188.8310',
  '4. close': '188.8800',
  '5. volume': '3296215'},
 '2025-04-04 14:00:00': {'1. open': '191.6600',
  '2. high': '192.5400',
  '3. low': '190.4850',
  '4. close': '190.5000',
  '5. volume': '2122206'},
 '2025-04-04 13:45:00': {'1. open': '191.5700',
  '2. high': '192.1600',
  '3. low': '190.8800',
  '4. close': '191.6800',
  '5. volume': '2225883'},
 '2025-04-04 13:30:00': {'1. open': '190.9800',
  '2. high': '192.5700',
  '3. low': '190.6600',
  '4. close': '191.5600',
  '5. volume': '4596328'},
 '2025-04-04 13:15:00': {'1. open': '191.6600',
  '2. high': '192.0200',
  '3. low': '190.9000',
  '4. close': '190.9900',
  '5. volume': '2663474'},
 '2025-04-04 13:00:00': {'1. open': '192.9300',
  '2. high': '193.5400',
  '3. low': '191.5100',
  '4. close': '191.6700',
  '5. volume': '1849660'},
 '2025-04-04 12:45:00': {'1. open': '193.1400',
  '2. high': '193.5199',
  '3. low': '192.6701',
  '4. close': '192.9600',
  '5. volume': '1629271'},
 '2025-04-04 12:30:00': {'1. open': '192.7800',
  '2. high': '193.9762',
  '3. low': '192.1800',
  '4. close': '193.1443',
  '5. volume': '2114576'},
 '2025-04-04 12:15:00': {'1. open': '194.7100',
  '2. high': '194.8636',
  '3. low': '192.2500',
  '4. close': '192.8100',
  '5. volume': '2177661'},
 '2025-04-04 12:00:00': {'1. open': '194.1630',
  '2. high': '195.0700',
  '3. low': '194.1200',
  '4. close': '194.6900',
  '5. volume': '2288732'},
 '2025-04-04 11:45:00': {'1. open': '194.2950',
  '2. high': '196.0000',
  '3. low': '193.8101',
  '4. close': '194.1650',
  '5. volume': '2486787'},
 '2025-04-04 11:30:00': {'1. open': '194.4650',
  '2. high': '195.2700',
  '3. low': '193.7500',
  '4. close': '194.3000',
  '5. volume': '2441452'},
 '2025-04-04 11:15:00': {'1. open': '196.5800',
  '2. high': '197.1600',
  '3. low': '193.4492',
  '4. close': '194.4800',
  '5. volume': '3468124'},
 '2025-04-04 11:00:00': {'1. open': '193.4500',
  '2. high': '197.2117',
  '3. low': '193.3500',
  '4. close': '196.5900',
  '5. volume': '4751556'}}

In [22]:
#store data into a DataFrame
df_apple1 = pd.DataFrame(apple1).transpose().reset_index()
df_apple1.head()

                 index   1. open   2. high    3. low  4. close 5. volume
0  2025-04-07 19:45:00  182.3000  182.7200  181.8500  182.6100     35235
1  2025-04-07 19:30:00  183.4300  183.5000  181.4600  182.3000     41049
2  2025-04-07 19:15:00  183.5100  183.7700  183.2000  183.5000     28148
3  2025-04-07 19:00:00  183.4400  183.5100  183.1600  183.4800     26246
4  2025-04-07 18:45:00  183.3400  183.6500  182.5900  183.4432     38204

In [23]:
#Bring in data in DataFrame format
ts2 = TimeSeries(key = API_key, output_format="pandas")

In [24]:
# display new intraday stock data
ts2.get_intraday("AAPL")

(                     1. open   2. high    3. low  4. close  5. volume
 date
 2025-04-07 19:45:00  182.300  182.7200  181.8500  182.6100    35235.0
 2025-04-07 19:30:00  183.430  183.5000  181.4600  182.3000    41049.0
 2025-04-07 19:15:00  183.510  183.7700  183.2000  183.5000    28148.0
 2025-04-07 19:00:00  183.440  183.5100  183.1600  183.4800    26246.0
 2025-04-07 18:45:00  183.340  183.6500  182.5900  183.4432    38204.0
 ...                      ...       ...       ...       ...        ...
 2025-04-04 12:00:00  194.163  195.0700  194.1200  194.6900  2288732.0
 2025-04-04 11:45:00  194.295  196.0000  193.8101  194.1650  2486787.0
 2025-04-04 11:30:00  194.465  195.2700  193.7500  194.3000  2441452.0
 2025-04-04 11:15:00  196.580  197.1600  193.4492  194.4800  3468124.0
 2025-04-04 11:00:00  193.450  197.2117  193.3500  196.5900  4751556.0

 [100 rows x 5 columns],
 {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2025-04-07 19:45:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'})

In [26]:
#get full amount of intraday stock data for data and meta_data
df_apple2, meta_data = ts2.get_intraday("AAPL", outputsize="full")

In [27]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2025-04-07 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [28]:
#print data with reset index
df_apple2.reset_index()

                    date  1. open  2. high  3. low  4. close  5. volume
0    2025-04-07 19:45:00   182.30   182.72  181.85  182.6100    35235.0
1    2025-04-07 19:30:00   183.43   183.50  181.46  182.3000    41049.0
2    2025-04-07 19:15:00   183.51   183.77  183.20  183.5000    28148.0
3    2025-04-07 19:00:00   183.44   183.51  183.16  183.4800    26246.0
4    2025-04-07 18:45:00   183.34   183.65  182.59  183.4432    38204.0
...                  ...      ...      ...     ...       ...        ...
1339 2025-03-10 05:00:00   236.02   236.10  235.52  235.6700    21996.0
1340 2025-03-10 04:45:00   236.44   236.70  235.94  236.0700    16698.0
1341 2025-03-10 04:30:00   236.75   237.00  236.44  236.4400    10430.0
1342 2025-03-10 04:15:00   237.46   237.62  236.63  236.9700    24652.0
1343 2025-03-10 04:00:00   237.00   238.40  236.60  237.4300    12786.0

[1344 rows x 6 columns]